/*resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variables*/
:root {
    --primary: #3E7CB1;
    --secondary: #054A91;
    --dark: #000000;
    --light: #ffffff;
    --alt: #63A375;
}

/*main*/
html, body {
    overflow-x: hidden;
    height: 100%;
}

main {
    margin-top: 9rem;
    flex: 1;
}

body {
    font-family: monospace, sans-serif;
    background-color: var(--primary);
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: white;
}

a:hover {
    color: black;
}




/*header*/
header {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

    max-width: 100vw;
}

header * {
    min-width: 0;
}

#logo img {
    width: 5rem;
    max-width: 100%;
    margin: auto;
}

#logo {
    padding: 0.5rem;
}

#mainNav {
    display: flex;
    gap: 3vw;

    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 auto;
}

#mainNav a {
    font-size: 1.5rem;
    text-decoration: none;

    background-color: var(--primary);
    border: solid 5px var(--alt);
    border-radius: 5px;
    white-space: nowrap;
    
    padding: 5px;
}

/*responsive navbar*/
.navBtn {
    display: none;
    background-color: var(--primary);
    border-color: var(--alt);
    margin-left: auto;
    flex-shrink: 0;
}

.navBtn span {
        display: block;
        background-color: var(--dark);

        width: 25px;
        height: 5px;
        margin: 5px;

        transition-duration: 0.5s;
    }

.navBtn:hover span {
    width: 30px;
    height: 7px;
    margin: 7px;

    transition-duration: 0.5s;
}

#sideNav {
    background-color: var(--secondary);

    right: -80%;
    width: 80%;
    height: 100vh;
    position: fixed;

    transition-duration: 0.5s;
    z-index: 1000;
}

#sideNav a {
    display: flex;

    background-color: var(--primary);
    border: solid 5px var(--alt);
    border-radius: 5px;
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;

    padding: 5%;
    margin: 5%;
    margin-top: 20%;
}

#sideBtn {
    margin: 5% auto;
}


@media (max-width: 655px) {
    .navBtn {
        display: block;
    }

    #mainNav {
        display: none;
    }

    #sideNav.open {
        right: 0;
    }

    #sideNav.open a {
        display: flex;
    }
}

/*footer*/
footer {
    background-color: var(--secondary);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 0;
}

/*main page*/

#mainPage {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;

    padding: 1rem 1rem;
}

.bookContent {
    border: solid black;
    padding: 1.7rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column1 {  
    display: flex;
    justify-content: center;
}

.column1 img {
    height: 300px;
    min-width: 10rem;

    padding-right: 0.5rem;
}

.column2 {
    display:flex;
    flex-direction: column;

    padding-left: 0.5rem;
}

.column2 button {
    background-color: var(--secondary);
    color: var(--light);
    border: solid 5px var(--alt);
    border-radius: 5px;

    padding: 0.7rem;
    margin-top: 1rem;
}

@media (max-width: 1000px) {
    #mainPage {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*pay html*/

#mainPay {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
    margin-right: 2rem;
    padding: 2rem;

    background-color: rgb(109, 107, 107);
    border: solid rgb(109, 106, 106) 5px;
    border-radius: 5px;

    flex-direction: column;
}

#payForm {
    background-color: rgb(155, 154, 154);
    border: black 2px solid;
    border-radius: 5px;

    margin: 0.3rem;
    padding: 0.3rem;
}

#mainPay h2 {
    padding-bottom: 1rem;
}

.formItem {
    padding: 1vh;
}

#mainPay button {
    background-color: var(--primary);
    color: var(--light);
    border: solid 5px var(--alt);
    border-radius: 5px; 

    display: block;
    margin: auto;
    margin: 1rem auto;
    padding: 0.5rem;
}

/* success page */

#topRow {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
}

#topRow img {
    width: 5rem;
    max-width: 100%; 
}

#response {
    display: flex;
    justify-content: center;
}

/*shopping basket*/

.bookInBasket {
    background-color: var(--light);
    margin: 2rem;
    display: flex;
    flex-direction: row;

    padding: 1rem;
}

.bookInBasket img {
    height: 300px;
    min-width: 10rem;
    border: solid grey 3px;
    border-radius: 5px;

}

.info {
    padding: 0 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info p {
    margin: auto;
    padding: 1rem;
    border: 3px solid grey;
    border-radius: 5px;
}

.price {
    margin-left: auto;
    padding: 1rem;
}

#pay {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#total {
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

#checkout {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: var(--secondary);
    font-size: 1rem;
    color: var(--light);
}