/*resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variables*/
:root {
    --primary: #3E7CB1;
    --secondary: #054A91;
    --dark: #000000;
    --light: #ffffff;
    --alt: #63A375;
}

/*main*/
body {
    font-family: monospace, sans-serif;
    background-color: var(--primary);
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: white;
}

a:hover {
    color: black;
}


/*header*/
header {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#logo img {
    width: 10vh;
    margin: auto;
}

#logo {
    justify-content: center;
    padding: 0.5rem;
}

#mainNav {
    display: flex;
    gap: 3vw;
    margin: 1 auto;
}

#mainNav a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    text-decoration: none;

    background-color: var(--primary);
    border: solid 5px var(--alt);
    border-radius: 5px;
    white-space: nowrap;
    
    padding: 1.3vh 1vw;
    flex: 1;
}

/*responsive navbar*/
.navBtn {
    display: none;
}

#sideNav {
    background-color: var(--secondary);

    right: -25%;
    width: 25%;
    height: 100vh;
    position: fixed;

    transition-duration: 0.5s;
    z-index: 1000;
}

#sideNav a {
    display: flex;

    background-color: var(--primary);
    border: solid 5px var(--alt);
    border-radius: 5px;
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;

    padding: 5%;
    margin: 5%;
    margin-top: 20%;
}

#sideBtn {
    margin: auto;
    padding-top: 2vh;
}


@media (max-width: 655px) {
    .navBtn {
        display: block;
        border: none;
        background-color: transparent;
    }

    .navBtn span {
        display: block;
        background-color: var(--dark);

        width: 25px;
        height: 5px;
        margin: 5px;

        transition-duration: 0.5s;
    }

    .navBtn:hover span {
        width: 30px;
        height: 7px;
        margin: 7px;

        transition-duration: 0.5s;
    }

    #mainNav a {
        display: none;
    }

    #sideNav.open {
        right: 0;
    }

    #sideNav.open a {
        display: flex;
    }


}

/*main page*/

#mainPage {
    display: grid;
    grid-template-columns: repeat(2,1fr);

    padding: 2rem;
    padding-top: 20vh;
}

.bookContent {
    border: solid black;
    padding: 1.7rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.column1 {  
    display: flex;
    justify-content: center;
}

.column1 img {
    height: 300px;
    min-width: 10rem;

    padding-right: 0.5rem;
}

.column2 {
    display:flex;
    flex-direction: column;

    padding-left: 0.5rem;
}

.column2 button {
    padding: 0.7rem;
    margin-top: 1rem;
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
}
