<header>
    <div id="logo">
        <img src="Images/bookLogo.png" alt="book world logo">
        <h1>BOOK WORLD!</h1>
    </div>

    <nav id="mainNav">
        <a href="index.html">Home</a>
        <a href="#aboutus">About Us</a>
        <a href="#contactus">Contact Us</a>
        <a href="basket.html">Basket</a>
    </nav>
    <button class="navBtn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>   

<div id="sideNav">
    <button class="navBtn" id="sideBtn">
            <span></span>
            <span></span>
            <span></span>
    </button>
    <a href="index.html">Home</a>
    <a href="#aboutus">About Us</a>
    <a href="#contactus">Contact Us</a>
    <a href="basket.html">Basket</a>
</div>